fastapi
uvicorn
python-multipart
python-dotenv
pymongo
groq
langchain
langgraph
#langsmith
langchain_groq
#langchain_google_genai
#langchain_openai
# huggingface_hub
ddgs
beautifulsoup4
#grandalf
gTTS
SpeechRecognition
pydub
